<h3>Tóth Ádám</h3>
<address>
    <strong>GitHub:</strong> <a href="https://github.com/adam026">GitHub</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/%C3%A1d%C3%A1m-t%C3%B3th-79847a236/">LinkedIn</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/tothadam026/">Facebook</a><br />
    <strong><abbr title="Email">E-mail:</abbr> </strong>
    <a href="mailto:adamtoth4@gmail.com">adamtoth4@gmail.com</a>
</address>
